# sensitive information
/source/ip_address.txt

# python virtual environment
/source/venv
/venv

# Pycache
*.pyc
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/
.idea/misc.xml
.idea/P6.iml
